@model List<QuestStatusViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="quest-banner">
    <img src="/images/banner-image.png" alt="Quest Banner">
</div>

<h2>Quest Available</h2>
<div class="quest-container">
    @foreach (var questStatus in Model) 
    {
        var quest = questStatus.Quest;
        <div class="quest-card">
            <h3>@quest.NamaQuest</h3>  
            <div class="quest-points">
                <i class="fa-solid fa-coins"></i> @quest.Reward 
            </div>
            <div class="quest-giver">
                <i class="fa-solid fa-user"></i> @quest.Creator 
            </div>
            <p> @quest.Deskripsi</p>
            <div class="quest-info">
                <span class="quest-deadline">Deadline: @quest.Deadline.ToString("dd/MM/yyyy")</span> 
            </div>
            @* <a asp-action="Detail" asp-controller="Quest" asp-route-id="@quest.QuestId">
                <button type="button" class="detail-button">Detail</button>
            </a> *@
            @if (User.Identity.IsAuthenticated)
            {
                @if (questStatus.IsTaken)
                {
                    <button disabled>Taken</button> 
                }
                else
                {
                    <form asp-controller="Quest" asp-action="TakeQuest" method="post">
                        <input type="hidden" name="id" value="@quest.QuestId" />
                        <button type="submit">Take Quest</button>
                    </form>
                }
            }
        </div>
    }
</div>
