@model IEnumerable<DigiGall.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Deskripsi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URLGambar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deskripsi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URLGambar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stok)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NamaItem">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NamaItem">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NamaItem">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
